.header {
  border: 1px solid black;
  background: steelblue;
  height: 150px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
}
.header img {
  height: 100%;
}
.appContainer {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.appContainer img {
  width: 100%;
}
.imageDiv {
  width: 75%;
  margin: 0 auto;
  padding: 0;
}
.desc {
  width: 75%;
  margin: 0 auto;
}
.buttonsAndTitle {
  display: flex;
  margin: 10px auto 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}
.buttonsAndTitle button {
  width: 60px;
  height: 60px;
}
.buttonsAndTitle h1 {
  width: 80%;
}
@media (max-width: 800px) {
  .buttonsAndTitle h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .buttonsAndTitle h1 {
    font-size: 1rem;
  }
}
